html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#map {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.map-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.checkboxes {
  background: white;
  padding: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 20000;
}

.buttons {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2500;
}